Repository PrinceOfEgypt1/Genesis_Luminal_Production: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Implement: Correção de Honestidade Técnica - Sprint 2 Trilho H
  backend/src/config/feature-registry.ts
  backend/src/middleware/disclaimer.ts
  backend/src/providers/AnthropicProvider.ts
  docs/technical-honesty-audit.md
  frontend/src/components/SimulationBanner.tsx
Due: eslint --fix, prettier --write

Implement: Documentação Automatizada Enterprise - Sprint 2 Trilho H FINALIZADO
  backend/package-docs-scripts.json
  backend/src/docs/openapi.ts
  backend/src/middleware/swagger.ts
  backend/typedoc.json
  docs/adr/accepted/adr-001-typescript-everywhere.md
  docs/adr/accepted/adr-002-simulation-vs-real-api.md
  docs/adr/accepted/adr-003-testing-strategy.md
  docs/adr/template.md
  docs/runbooks/deployment/production-deployment.md
  docs/runbooks/troubleshooting/common-issues.md
  frontend/package-storybook-scripts.json
  frontend/src/components/EmotionAnalyzer.stories.tsx
Due: eslint --fix, prettier --write

Implement: Segurança Fase 1 - Sprint 3 Trilho C (Parcial 25% → 60%)
  backend/src/config/secrets/SecretManager.ts
  backend/src/middleware/rate-limiting.ts
  backend/src/middleware/security.ts
Due: eslint --fix, prettier --write

Implement: Segurança Enterprise Completa - Sprint 3 Trilho C FINALIZADO
  .github/workflows/security-scan.yml
  backend/.eslintrc.security.js
  backend/security-scan-report.json
  frontend/.eslintrc.security.js
  scripts/security/owasp-zap-scan.sh
  scripts/security/security-scan.sh
Due: prettier --write

feat(ci): Implement DevOps governance foundation - Sprint 4 Trilho F (Partial 10% → 60%)
  .commitlintrc.json
  .github/dependabot.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  .releaserc.json
  CHANGELOG.md
  package.json
  renovate.json
Due: prettier --write

feat(monitoring): Implement enterprise monitoring and performance budgets - Sprint 4 Trilho F FINALIZADO
  .github/workflows/performance-monitoring.yml
  backend/src/monitoring/Logger.ts
  backend/src/monitoring/MetricsCollector.ts
  backend/src/routes/metrics.ts
  frontend/src/monitoring/PerformanceMonitor.ts
  lighthouserc.js
Due: eslint --fix, prettier --write

BACKUP: Antes de fix cirúrgico final - security.ts syntax
  backend/package-lock.json
  backend/package.json
  backend/package.json.ci-backup
  backend/src/__tests__/fixtures/emotion-requests.js
  backend/src/__tests__/integration/api/emotion-api.test.js
  backend/src/__tests__/mocks/anthropic.js
  backend/src/__tests__/setup.js
  backend/src/__tests__/setup.ts
  backend/src/__tests__/unit/controllers/EmotionController.test.js
  backend/src/__tests__/unit/providers/AnthropicProvider.test.js
  backend/src/__tests__/unit/services/EmotionService.test.js
  backend/src/__tests__/unit/utils/validator.test.js
  backend/src/config/feature-registry.js
  backend/src/config/feature-registry.ts
  backend/src/config/secrets/SecretManager.js
  backend/src/docs/openapi.js
  backend/src/middleware/disclaimer.js
  backend/src/middleware/rate-limiting.js
  backend/src/middleware/rate-limiting.ts
  backend/src/middleware/security.js
  backend/src/middleware/security.ts
  backend/src/middleware/swagger.js
  backend/src/middleware/telemetry.ts
  backend/src/monitoring/Logger.js
  backend/src/monitoring/Logger.ts
  backend/src/monitoring/MetricsCollector.js
  backend/src/observability/metrics.ts
  backend/src/observability/tracing.ts
  backend/src/providers/AnthropicProvider.js
  backend/src/providers/AnthropicProvider.ts
  backend/src/routes/metrics.js
  backend/src/types/emotion.ts
  backend/src/types/system-status.ts
  backend/tsconfig.json
Due: eslint --fix, prettier --write

DEFINITIVE FIX: Fechar bloco helmet() adequadamente
  backend/src/middleware/security.ts
Due: eslint --fix, prettier --write

SCIENTIFIC FIX: Eliminate duplicate properties (Score 200)
  backend/src/middleware/disclaimer.ts.backup-duplicate
  backend/src/middleware/rate-limiting.ts.backup-duplicate
Due: none

FIX FRONTEND: Resolve Vite standardized-audio-context errors
  backend/vite.config.ts
Due: none

BACKUP: Antes de fix Vite audio context errors
  frontend/package.json.ci-backup
  frontend/src/__tests__/setup.ts
  frontend/src/__tests__/unit/components/EmotionAnalyzer.test.tsx
  frontend/src/components/EmotionAnalyzer.stories.tsx
  frontend/src/components/EmotionAnalyzer.tsx
  frontend/src/hooks/useEmotionAnalysis.ts
  frontend/src/monitoring/PerformanceMonitor.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

FIX FRONTEND: Resolve Vite standardized-audio-context errors
  frontend/package-lock.json
Due: prettier --write

QUICK FIX: Resolve 23 frontend build errors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useEmotionAnalysis.ts
Due: eslint --fix, prettier --write

FINAL BACKEND FIX: Resolve syntax errors in rate-limiting.ts
  backend/src/middleware/rate-limiting.ts
  backend/src/middleware/rate-limiting.ts.backup-syntax
Due: eslint --fix, prettier --write

SCIENTIFIC METHOD FINAL: Eliminate all 12 backend errors
  backend/src/__tests__/setup.ts
  backend/src/middleware/disclaimer.ts
  backend/src/middleware/telemetry.ts
  backend/src/providers/AIProvider.ts
  backend/src/providers/AnthropicProvider.ts
  backend/src/providers/AnthropicProvider.ts.backup-interface
  backend/src/providers/FallbackProvider.ts
  backend/src/providers/ProviderRouter.ts
  backend/src/routes/emotional.ts
  backend/src/services/ClaudeService.ts
  backend/src/types/emotion.ts
Due: eslint --fix, prettier --write

FINAL SYNTAX FIX: Resolve disclaimer.ts syntax errors
  backend/src/middleware/disclaimer.ts
  backend/src/middleware/disclaimer.ts.backup-syntax
Due: eslint --fix, prettier --write

DEFINITIVE FIX: Complete type compatibility resolution
  backend/src/__tests__/fixtures/emotion-requests.ts
  backend/src/middleware/disclaimer.ts
  backend/src/types/emotion.ts
Due: eslint --fix, prettier --write

SURGICAL FIX: Add missing emotionalShift property
  backend/src/types/emotion.ts
Due: eslint --fix, prettier --write

FINAL FIX: Add morphogenicSuggestion property
  backend/src/types/emotion.ts
Due: eslint --fix, prettier --write

FIX: Add missing required 'dominant' property
  backend/src/providers/FallbackProvider.ts
  backend/src/services/ClaudeService.ts
Due: eslint --fix, prettier --write

BACKUP: Antes de implementar gestão de secrets
  shared/types/api.d.ts
  shared/types/api.d.ts.map
  shared/types/api.js
  shared/types/api.js.map
Due: none

SPRINT 3 SECURITY: Implement enterprise security framework
  backend/src/config/secrets/SecretManager.ts
  backend/src/middleware/security/securityHeaders.ts
  backend/src/middleware/validation.ts
Due: eslint --fix, prettier --write

FIX: Correct security implementation issues
  backend/src/middleware/validation.ts
  backend/src/validation/schemas.ts
Due: eslint --fix, prettier --write

BACKUP: Antes de implementar Sprint 5 - Observabilidade
  backend/src/middleware/disclaimer.ts.backup-duplicate
  backend/src/middleware/disclaimer.ts.backup-syntax
  backend/src/middleware/rate-limiting.ts.backup-duplicate
  backend/src/middleware/rate-limiting.ts.backup-syntax
  backend/src/providers/AnthropicProvider.ts.backup-interface
Due: none

BACKUP: Antes de implementar Sprint 5 - Observabilidade
  backend/logs/.gitkeep
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/logging/structuredLogger.ts
  backend/src/metrics/sloSli.ts
  backend/src/monitoring/apm.ts
  backend/src/telemetry/opentelemetry.ts
Due: eslint --fix, prettier --write

BACKUP: Antes de Sprint 5 robusta - Mon Sep 22 20:13:49 -03 2025
  backend/src/app.ts
  backend/src/app.ts.backup-sprint5
  backend/src/app.ts.backup-step1
  backend/src/logging/logger.ts
  backend/src/logging/structuredLogger.ts
  backend/src/metrics/basic.ts
  backend/src/metrics/prometheus.ts
  backend/src/metrics/sloSli.ts
  backend/src/monitoring/apm.ts
  backend/src/telemetry/basic.ts
  backend/src/telemetry/opentelemetry.ts
Due: eslint --fix, prettier --write

BACKUP: Antes de limpeza cirúrgica Sprint 5
  backend/fix_apm_typescript.sh
  backend/fix_app_imports.sh
  backend/src/app.ts
  backend/src/app.ts.backup-fix
  backend/src/app.ts.backup-manual
  backend/src/app.ts.backup-metrics
  backend/src/index.ts
  backend/src/logging/logger.ts
  backend/src/metrics/prometheus.ts
  backend/src/monitoring/apm.ts.backup-fix
  backend/src/providers/AnthropicProvider.ts
  backend/update_app_with_metrics.sh
  sprint5_diagnosis.sh
  sprint5_minimal_step1.sh
  sprint5_minimal_step2.sh
  sprint5_minimal_step3.sh
Due: eslint --fix, prettier --write

Implement: Sprint 6 - Fundação de Qualidade (EMERGENCIAL)
  .github/workflows/ci.yml
  .lighthouserc.json
  backend/__tests__/setup.js
  backend/__tests__/teardown.js
  backend/jest.config.js
  backend/src/__tests__/core/emotionalProcessor.test.ts
  backend/src/__tests__/core/genesisLuminal.test.ts
  backend/src/__tests__/core/morphogenesisEngine.test.ts
  backend/src/__tests__/infrastructure/emotionalSynthesis.test.ts
  backend/src/__tests__/presentation/api.test.ts
  docs/sprints/sprint-6-quality-foundation.md
Due: eslint --fix, prettier --write

BACKUP: Antes de implementar Sprint 6 - Fundação de Qualidade
  backend/src/app.ts.backup-fix
  backend/src/app.ts.backup-manual
  backend/src/app.ts.backup-metrics
  backend/src/app.ts.backup-sprint5
  backend/src/app.ts.backup-step1
  backend/src/monitoring/apm.ts.backup-fix
Due: none

Fix: Correção científica definitiva Sprint 6
  backend/__tests__/setup.d.ts
  backend/__tests__/setup.d.ts.map
  backend/__tests__/teardown.d.ts
  backend/__tests__/teardown.d.ts.map
  backend/jest.config.js.backup-fix
  backend/jest.config.js.backup-safe-20250922-234118
  backend/jest.config.js.backup-scientific-20250923-001142
  backend/package-lock.json
  backend/package.json.backup-scientific-20250923-001142
  backend/src/core/entities/EmotionalDNA.ts
  backend/src/core/entities/GenesisLuminal.ts
  backend/src/core/usecases/EmotionalProcessor.ts
  backend/src/core/usecases/MorphogenesisEngine.ts
  backend/src/infrastructure/audio/EmotionalSynthesis.ts
  backend/tsconfig.json.backup-fix
  backend/tsconfig.json.backup-rootdir-fix
  backend/tsconfig.json.backup-safe-20250922-234118
  backend/tsconfig.json.backup-scientific-20250923-001142
Due: eslint --fix, prettier --write

BACKUP: Antes de implementar SPRINT 6 - Infraestrutura de Testes
  backend/__tests__/setup.js
  backend/jest.config.cjs
  backend/jest.config.js
  backend/jest.config.js.backup-fix
  backend/jest.config.js.backup-safe-20250922-234118
  backend/jest.config.js.backup-scientific-20250923-001142
  backend/package.json
  backend/package.json.backup-scientific-20250923-001142
  backend/src/__tests__/core/genesisLuminal.test.ts
  backend/src/__tests__/core/morphogenesisEngine.test.ts
  backend/src/app.ts
  backend/src/infrastructure/audio/EmotionalSynthesis.ts
  backend/src/logging/logger.ts
  backend/tsconfig.json.backup-fix
  backend/tsconfig.json.backup-rootdir-fix
  backend/tsconfig.json.backup-safe-20250922-234118
  backend/tsconfig.json.backup-scientific-20250923-001142
  jest.config.cjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

BACKUP: Antes de SPRINT 6 - Infraestrutura de Testes
  .github/workflows/ci.yml
  backend/.eslintrc.js
  backend/jest.config.js
  backend/package.json.update
  backend/tests/fixtures/responses.js
  backend/tests/helpers/setup.js
  backend/tests/integration/api.test.js
  backend/tests/unit/health.test.js
  backend/tests/unit/logger.test.js
  backend/tests/unit/metrics.test.js
Due: prettier --write

SPRINT 6 COMPLETED: Test Infrastructure Established
  .github/workflows/ci.yml
  backend/jest.config.cjs
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__.disabled/core/emotionalProcessor.test.ts
  backend/src/__tests__.disabled/core/genesisLuminal.test.ts
  backend/src/__tests__.disabled/core/morphogenesisEngine.test.ts
  backend/src/__tests__.disabled/infrastructure/emotionalSynthesis.test.ts
  backend/src/__tests__.disabled/presentation/api.test.ts
  backend/tests/basic.test.ts
  backend/tests/helpers/setup.js
  backend/tests/unit/health.test.js
  backend/tests/unit/health.test.ts
Due: eslint --fix, prettier --write

BACKUP: Antes de implementar Sprint 7 - Segurança (Modo Incremental)
  backend/package.json
  backend/src/app-security-integration.ts
  backend/src/security/OWASPValidator.ts
  backend/src/security/RateLimiter.ts
  backend/src/security/SecretManager.ts
  backend/src/security/SecurityMiddleware.ts
Due: eslint --fix, prettier --write

Add: SecretManager.ts - Enterprise secret management system
  backend/src/security/SecretManager.ts
Due: eslint --fix, prettier --write

Add: RateLimiter.ts - Simple rate limiting system
  backend/src/security/RateLimiter.ts
Due: eslint --fix, prettier --write

Sprint 7: Basic Security System Implemented
  backend/src/security/SecurityMiddleware.ts
  backend/src/security/index.ts
Due: eslint --fix, prettier --write

Fix: Correção dos 7 erros TypeScript críticos
  backend/src/app-security-integration.ts
  backend/src/security/OWASPValidator.ts
Due: eslint --fix, prettier --write

Fix: Corrigir 27 erros TypeScript e configurar sistema operacional
  frontend/package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: backend/src/**/*.{ts,js}) or (any of: frontend/src/**/*.{ts,tsx,js,jsx})
  prettier --write: ((any of: backend/src/**/*.{ts,js}) or (any of: frontend/src/**/*.{ts,tsx,js,jsx})) or (any of: **/*.{json,md,yml,yaml})
